{% extends "network/layout.html" %}

{% block body %}
    <h1 class="my-2 mx-3">All Posts</h1>

    {% if user.is_authenticated %}
        <div class="new-post-form my-3 mx-4">
            <h2>New Post</h2>
            <form action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                <textarea name="content" class="form-control" id="compose-body" placeholder="Post"></textarea>
                <br>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    {% endif %}

    <h2 class="my-3 mx-4">Latest posts</h2>

    <div class="all_posts">
        {% for post in posts_on_page %}
            <div class="card my-3 mx-4">
              <div class="card-header" style="font-weight: bold; font-size: 18px;">
                <a href="{% url 'profile' user_id=post.user.id %}">
                    {{ post.user }}
                </a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="font-size: 16px;">{{ post.content }}</li>
                <li class="list-group-item" style="font-size: 12px;">Posted on: {{ post.date }}</li>
              </ul>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination my-3 mx-4">
        {% if posts_on_page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts_on_page.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if posts_on_page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts_on_page.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>

    {% if message %}
        <div class="alert alert-danger my-3 mx-4" role="alert">{{ message }}</div>
    {% endif %}
{% endblock %}